/* header */
header {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding-left: 1%;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

/* body */
article {
    max-width: 90%;
}

main {
    margin: auto;
    width: 60%;
    padding: 10px;
    max-width: 1300px;
}

.gridItem {
    display: flex;
    justify-content: space-evenly
}

.item {
    margin: 1%;
    box-shadow: 1px 1px 1px 1px grey;
}

img {
    width: 100%;
}

/* footer */
footer {
    padding: 1%;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding-left: 1%;
    text-align: center;
}