*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
   padding: 10px 0 5px 10px;
    background: rgb(51, 51, 51);
    color: white;
    
}
.navigation ul  {
    display:  flex;
    list-style-type: none;
    
}
.navigation  ul li {
   margin: 5px 15px;

}
.navigation ul li a{
    text-decoration: none;
    color: white;
}
.container{
    
    max-width: 1200px;
   margin: 0 auto;
   padding-bottom: 28px;
}
.product {
    display: flex;
}
.product-card{
    
    max-width: 33.3333%;
    margin: 5px 10px;
    
    box-shadow: 1px 1px rgb(111, 110, 110);
}
.title-product {
    margin: 10px 0 10px 15px;
}
.product-card img {
    width: 100%;
}
.title-product-card, .price{
    margin-left: 10px;
}
.title-product-card{
    font-size: 20px;
    margin-top: 10px;
}
.price{
    color: red;
    margin-bottom: 10px;
}
footer {
    padding: 5px 0;
    background: rgb(51, 51, 51);
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}
footer p {
    text-align: center;
}