* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    padding: 0 auto;
}

.team {
    /* position: relative; */
}

img {
    width: 100%;
    height: auto;
}

.team img {
    width: 1920px;
    height: 734px;

}

.team .heading {
    margin: 256px 660px;
    ;
    width: 600px;
    height: 222px;
    padding: 87px 130px;
    position: absolute;
    background: rgba(55, 57, 63, 0.8);
    backdrop-filter: blur(9px);
}

.team .heading p {
    width: 341px;
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;
}

.container-blog {
    width: 1220px;
    
    margin: 150px 350px;
}

.content {
    display: flex;
}

.content .right {
    width: 246px;
    height: 86px;
    
}

.subtext {
    display: flex;
}

.rectangle {
    width: 12px;
    height: 12px;
    background: #40DDB6;
    margin: 5px;
}

.title_content {
    width: 150px;
    height: 22px;
    line-height: 22px;
    font-size: 17px;

}

.title_lastest {
    width: 246px;
    height: 48px;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    color: #37393F;
}

.left {
    margin: 10.5px 0 10.5px 790px;
}

.left button {
    width: 185px;
    height: 65px;
    background: #37393F;
    text-align:center;
}

.left button p {

    /* width: 99px;
    height: 22px; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
   
}
/*  */
 .blog-left, .blog-right{
    height: 662px;
 }
.blog-left{
    margin-right: 18px;
}
.blog-right{
    margin-left: 18px;
}
.content-blog{
    display: flex;
}
.blog-left .img img{
    width: 592px;
    height: 363px;
}
.blog-right .img img{
    width: 592px;
    height: 363px;
}
.img .tags{
    display: flex;
    margin-top: -6px;
    height: 65px;
}
.img .tag-1{
    width: 33.3333%;
    background: #6B77E5;;
}
.tag-2{
    width: 66.6666%;
    display: flex;
    background:  #40DDB6;;
}
.tag-name{
    border-right: 1px solid black;
}
.tag-name, .tag-business{
    width: 50%;
}
.tags p{
    margin: 22px auto;
    text-align: center;
}.tag-content{
    width: 567px;
    height: 76px;
    margin-top: 20px;
}
.title-content p{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 127%;
    color: #37393F;
    
}
.title-content, .content{
    margin: 15px 0;
}
.title-content .content p {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 146.19%;
color: #7D7D7D;

}
.tag-content a{
    text-decoration: none;
   color:  #6B77E5;
}
.subcribe-box{
    background-image: url("./img/Subscribe-img.png" );
    width: 100%;
    height: 525px;
    margin-top: 45px;
   
}
.subcribe-content{
     background: rgba(64, 221, 182, 0.75);
    backdrop-filter: blur(7px);
    
    padding: 96px 245px;
    /* position: relative; */
}
.sub-text p{
    font-size: 18px;
    text-align: center;
}
.sb-content .sb-title{
    font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #37393F;
}
.sb-title-content{
    font-size: 18px;
line-height: 146.19%;

text-align: center;

color: #37393F;
}
.subcribe-content .sb-button{
    margin-left: 37%;
    padding: 20px;
    width: 185px;
height: 65px;

background: #6B77E5;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sb-button .button p{
    font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;
text-transform: capitalize;

color: #FFFFFF;
}
.sub-text,.sb-content,.sb-title, .sb-button{
    margin-bottom: 20px;
}
/* footer */
footer{
    background:#37393F;
    width: 1920px;
    height: 703px;
}
.footer-content{
    width: 1220px;
    /* height: 515px; */
     padding: 95px 0; margin: 0 auto;
   
}
.header {
   
    display: flex;
    width: 1220px;
   
}
.header-logo{
    width: 25%;
}
.header-contact{
    
    width: 75%;
}
.header-contact .call, .header-contact .mail, .header-contact .location{
    width: 33.33%;
}
.header-contact,.header-contact .call, .header-contact .mail, .header-contact .location{
    display: flex;
}
.mail-icon,
.location-icon,
.call-icon{
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 1px solid whitesmoke ;
}
.mail-icon p,
.location-icon p,
.call-icon p {
    /* border: 2px solid #40DDB6; */
    color:#40DDB6;
    padding: 6px 15px 13px ;
    font-size: 36px;
    
}
.call-content,
.main-content,
.location-content{
    margin-left: 10px;
    color: #FFFFFF;
}
.header-logo p {
    font-weight: 700;
font-size: 25px;
color: #ffffff;
}
.line{
    margin-top: 55px;
    width: 1220px;
    height: 2px;
    border: 2px solid#6C6D72;
}
.pages{
    display:flex;
    width: 60%;
   margin: 0 auto;
    
    
}
.pages .link li{
    font-weight: 400;
font-size: 18px;
line-height: 220.19%;

list-style-type: none;
color: #FFFFFF;

}
.pages .link p{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
    
    color: #40DDB6;
}
.pages .link {
    width: 33.33%;
}
.subscribe-pages{
    width: 40%;
    background: #474950;
    padding: 50px ;
    color:#ffffff;
    line-height: 35px;
}
.footer-details{
    display: flex;
    width: 1220px;
    margin: 0 auto;
}
.main-box input{
    width: 264px;
height: 65px;
left: 0px;
top: 0px;

background: #FFFFFF;
text-align: center;

}
.main-box{
    display: flex;
}
.main-box button{
    justify-content: center;
align-items: center;
padding: 21px 27px 22px;


width: 145px;
height: 65px;
font-size: 18px;
font-weight: 700;
color: white;
background: #6B77E5;
}
.copyright{
    width: 1220px;
    margin: 0 auto;
    display: flex;
    font-weight: 400;
font-size: 18px;
line-height: 144.52%;



color: #FFFFFF;
justify-content: space-between;
}