/* CSS for the Calculator */
:root {
    --btn:#2D3440;
    --btn-hover:#0060E5;
    --color-text:#ffffff;
    --color__layout:#161A20;
    --width-size:370px;
    --height-size:812px;
  }
/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Center the calculator */
  html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  
  /* Calculator styles */
  .Calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    /* background-color:var(--color__layout); */

    background: url(img/iphone1.png);
    background-repeat: no-repeat;
    background-size: 375px 812px !important;
    width: 375px;
    height: 812px;
    margin: 60px auto;
    position: relative;
    padding: 28px 0;
    border-radius: 60px;
   

  }
  
  .Calculator__changed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 24px;
    color:var(--color-text);
    margin-top: 15px;
  }
  
  .tablinks {
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease;
   
  }
  
  
  .tablinks:hover {
    background-color:var(--btn-hover);
  }
  
  .Calculator-input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
    color:var(--color-text);
    padding: 0 20px;

  }

  .Calculator-input input {
    font-size: 36px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    text-align: right;
    background-color: var(--color__layout);
    color: var(--color-text);
  }
  
  .Calculator-kq {
    height: 80px;
  }
  .Calculator-kq i{
    padding-left: 10px;
    color: #757575;
  }
  .Calculator-kq i:hover{
    color: #e0dbdb;
  }
  .Calculator-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px 20px;
  }
  
  .Calculator_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .Calculator_column {
    flex-basis: 0;
    flex-grow: 1;
    margin-right: 10px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color:var(--btn);
    font-size: 24px;
    font-weight: bold;
    color: var(--color-text);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .Calculator_column--munber{
    width: 50%;
  }
  
  .Calculator_column:last-child {
    margin-right: 0;
  }
  
  .Calculator_column:hover {
    background-color: var(--btn-hover);
  }
  .Calculator_column--highlighted {
    background-color: var(--btn-hover)
  }

  .Calculator_column--number{
    flex-grow: 1;
  }

  .Calculator_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Calculator_column--flex {
    flex-grow: 1;
  }
  .Calculator_row--number {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .Calculator_column--number {
    flex-basis: 26%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--color-text);
    background-color:var(--btn);
    border-radius: 5px;
    cursor: pointer;
  }
